@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  overflow: visible;
}
::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}

/* sidebar manage antd */
.ant-menu-inline-collapsed {
  @apply !w-[80px];
}

.ant-select-outlined .ant-select-selector:hover {
  @apply !border-stone-400/70;
}
.ant-select-outlined .ant-select-selector:focus {
  @apply !border-stone-400/70;
}

/* input select of antd */
.ant-select-outlined .ant-select-selector {
  border-color: #e7e5e4 !important;
  box-shadow: none !important;
}

/* select one */
.edit-select-custom .ant-select-selection-item {
  padding: 0 35px !important;
}
.custom-base .ant-select-selection-item {
  padding: 0 5px !important;
}

.edit-select-custom .ant-select-selection-placeholder {
  display: inline-block;
  margin-left: 35px;
}

/* react-quill description */
.ql-container.ql-snow {
  max-height: 250px;
  overflow: auto;
}
/*  */
.ant-input-search-button {
  background-color: #1967d2;
  border-color: #1967d2;
  color: white;
}
.ant-input-search-button:hover {
  background-color: #1967d2 !important;
  border-color: #1967d2;
  color: white;
}
/* select */
.select-filter > .ant-select-selector {
  border-radius: 4px !important;
}

.select-custom > .ant-select-selector {
  border: none !important;
}

.select-custom .ant-select-selection-item {
  padding: 0 !important;
}
.select-custom .ant-select-selection-placeholder {
  display: inline-block;
  margin-left: 0px;
}
/*  */
.skill.select-custom .ant-select-selector {
  margin-top: 6px;
  margin-bottom: 6px;
}
/* datepicker */
.ant-picker-outlined {
  border-color: #e7e5e4 !important;
  box-shadow: none !important;
}

/* upload image antd */
.ant-upload-list.ant-upload-list-text {
  display: none !important;
}

/* animations */
.slide-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.slide-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.slide-exit {
  opacity: 1;
  transform: translateY(0);
}

.slide-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 300ms, transform 300ms;
}

/* Định nghĩa các class cho transition */
.fade-enter {
  opacity: 0;
  transform: scale(1);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 200ms, transform 200ms;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(1);
  transition: opacity 200ms, transform 200ms;
}

/* select */
.select .ant-select-selector {
  padding: 5px 10px !important;
}
